@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* prettier-ignore */
  :root {
    --background: 0 0% 100%;                 /* white */
    --foreground: 20 14.3% 4.1%;             /* stone.950 */
    --card: 0 0% 100%;                       /* white */
    --card-foreground: 20 14.3% 4.1%;        /* stone.950 */
    --popover: 0 0% 100%;                    /* white */
    --popover-foreground: 20 14.3% 4.1%;     /* stone.950 */
    --primary: 346 77% 57%;                  /* primary.500 */
    --primary-foreground: 60 9.1% 97.8%;     /* stone.50 */
    --secondary: 60 4.8% 95.9%;              /* stone.100 */
    --secondary-foreground: 24 9.8% 10%;     /* stone.900 */
    --muted: 60 4.8% 95.9%;                  /* stone.100 */
    --muted-foreground: 25 5.3% 44.7%;       /* stone.500 */
    --accent: 60 4.8% 95.9%;                 /* stone.100 */
    --accent-foreground: 24 9.8% 10%;        /* stone.900 */
    --destructive: 0 84.2% 60.2%;            /* red.500 */
    --destructive-foreground: 60 9.1% 97.8%; /* stone.50 */
    --border: 20 5.9% 90%;                   /* stone.200 */
    --input: 20 5.9% 90%;                    /* stone.200 */
    --ring: 20 14.3% 4.1%;                   /* stone.950 */
  }

  /* prettier-ignore */
  [data-theme='dark'] {
    --background: 20 14.3% 4.1%;             /* stone.950 */
    --foreground: 60 9.1% 97.8%;             /* stone.50 */
    --card: 20 14.3% 4.1%;                   /* stone.950 */
    --card-foreground: 60 9.1% 97.8%;        /* stone.50 */
    --popover: 20 14.3% 4.1%;                /* stone.950 */
    --popover-foreground: 60 9.1% 97.8%;     /* stone.50 */
    --primary: 346 77% 57%;                  /* primary.500 */
    --primary-foreground: 60 9.1% 97.8%;     /* stone.50 */
    --secondary: 12 6.5% 15.1%;              /* stone.800 */
    --secondary-foreground: 60 9.1% 97.8%;   /* stone.50 */
    --muted: 12 6.5% 15.1%;                  /* stone.800 */
    --muted-foreground: 24 5.4% 63.9%;       /* stone.400 */
    --accent: 12 6.5% 15.1%;                 /* stone.800 */
    --accent-foreground: 60 9.1% 97.8%;      /* stone.50 */
    --destructive: 0 62.8% 30.6%;            /* red.900 */
    --destructive-foreground: 60 9.1% 97.8%; /* stone.50 */
    --border: 12 6.5% 15.1%;                 /* stone.800 */
    --input: 12 6.5% 15.1%;                  /* stone.800 */
    --ring: 24 5.7% 82.9%;                   /* stone.300 */
  }
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply flex min-h-lvh flex-col bg-background text-foreground;

    & > :is(main, aside) {
      @apply flex-[1_0_auto];
    }

    & > :is(header, footer, nav) {
      @apply flex-none;
    }
  }

  :is(h1, h2, h3, h4, h5, h6, dt, blockquote, figcaption) {
    @apply text-balance;
    max-inline-size: 25ch;
  }

  :is(p, dd, li) {
    @apply text-pretty;
    max-inline-size: 65ch; /* equivalent to `.max-w-prose` */
  }
}
